<%- include('partials/header') %>

<div class="card">
  <div class="card-body">
		<p> id </p>
    <p> name </p>
		<p> genre </p>
		<p> date </p>
    <form action="/" method="post">
      <input type="text" class="form-control" name="update" placeholder="Update the name">
    </div>
    <button type="submit" class="btn btn-primary btn-lg" formaction="/">Update</button>
  </form>
  <Button type="submit" class="btn btn-primary btn-lg"> Delete film </Button>

  </div>

  <%- include('partials/footer') %>
